ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    list-style-type: none;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #eee;
    border-radius: .4rem;
    text-align: center;
    padding: 1rem;
}

li {
    width: 70%;
}

.button {
    background-color: #9b4dca;
    border: 0.1rem solid #9b4dca;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.column {
    margin: 0 auto;
}
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 1.2rem 1.5rem;
    text-align: left;
    border: 0;
}

tr {
    border-bottom: 0.1rem solid #e1e1e1;
}

td:first-child,
th:first-child {
    padding-left: 0;
}

td:last-child,
th:last-child {
    padding-right: 0;
}
a {
    color: #9b4dca;
    text-decoration: none;
}
a:focus, a:hover {
    color: #606c76;
}
