ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    list-style-type: none;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #eee;
    border-radius: .4rem;
    text-align: center;
    padding: 1rem;
}

li {
    width: 70%;
}

.button {
    background-color: #9b4dca;
    border: 0.1rem solid #9b4dca;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.column {
    margin: 0 auto;
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 0.5rem 1.5rem;
    text-align: left;
    border: 0;
}

.records thead th {
    text-align: left;
}

tr {
    border-bottom: 0.1rem solid #e1e1e1;
}

td:first-child,
th:first-child {
    padding-left: 0;
    text-align: left;
}

td:last-child,
th:last-child {
    padding-right: 0;
    text-align: right;
}

a {
    color: #9b4dca;
    text-decoration: none;
}

a:focus, a:hover {
    color: #606c76;
}

.input {
    border: 0.1rem solid #ccc;
    border-radius: .4rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    box-sizing: border-box;
}

.form-inline {
    display: inline;
    margin: 0;
    padding: 0;
}

.button-link {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #0066cc;
    cursor: pointer;
    font: inherit;
}

.button-link:hover {
    color: #004999;
}

.delete {
    padding: 0;
}

td.result_value {
    text-align: left;
}
dt {
    font-weight: bold;
}