body {
    color: #606c76;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 112.0rem;
    padding: 0 2.0rem;
    width: 100%;
}
.main{
    margin-top: 5rem; /* TODO: To remove later */
}

header.heading {
    height: 5rem;
    color: white;
    display: flex;
    align-items: center;
    gap: clamp(0.3rem, 1vw, 1rem);
    padding: 0 1rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-exercises {
    background-color: rgba(65, 157, 120, 1);
}

.header-answering {
    background-color: rgba(155, 77, 202, 1);
}
.header-new {
    background-color: rgba(224, 164, 88, 1);
}